<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!--<div><a href="http://localhost:4200" class="navbar-brand">Welcome page</a></div>-->

    <ul  class="navbar-nav">
      <li><a *ngIf='hardcodedAuthenticationService.isUserLoggedIn()' routerLink="/welcome" class="nav-link">Welcome</a></li>
      <li><a *ngIf='hardcodedAuthenticationService.isUserLoggedIn()' routerLink="/list/exercise" class="nav-link">Exercises</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf='!hardcodedAuthenticationService.isUserLoggedIn()' routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf='hardcodedAuthenticationService.isUserLoggedIn()' routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>